// colors

$orange-bg: #ff9b24;
$black-bg: #1c1c1e;
$white-bg: #fff;

//font-colors

$orange-font: #ff8f17;
$dark-font: #1c1c1e;
$black-font: #000;
$white-font: #fff;
$gray-font: #71777d;

// sizes

$site-width-outer: 1920px;
$site-width-inner: 1440px;
$site-width-small: 1140px;
