@import "../base/variables";
@import "../base/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  max-width: $site-width-outer;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 320px;
  background-color: $white-bg;

  //overflow-x: hidden;
  opacity: 1;

}
img {
  max-width: 100%;
  height: auto;
}



